body{
    margin:0;
    padding:0;
}

#thumbnail2{
    display:none;
}

#thumbnail3{
    display:none;
}

#thumbnail1{
    z-index: 100;
}

.thumbnail{
    height:100%;
    width:70vw;
    font-family: 'PT Serif', 'Arial';
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:15vw;
    z-index: 100;
    position: relative;
   }

   .thumbnail-img{

    position:relative;
    max-height:42vh;
    z-index:1;

}

.shopNow{
    display:inline-block;
    background-color: #3399ff;
    padding:10px 30px;
    color:white;
    text-decoration: none;
}

.img-div{
    height:100%;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.info{
    display:block;
    margin-left:0.5vw;
}

.thumbnail-holder{
  background-color: #d6ecf6;
  width:100%;
  height:45vh;
  position:relative;
}

.vertical-center{
    width:100%;
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.vertical-left{
margin-left:0.5vw;
justify-self: flex-start;
}

.vertical-right{
margin-right:0.5vw;
justify-self: flex-end;
}

.vertical-right>img{
    height:24px;
}

.vertical-right>img:first-child{
  padding-right: 20px;
}

.menu-icon:last-child{
padding-right: 0;
margin-right: 0;
}

.justFlex{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
    width:70vw;
    height:32px;
    padding-left:15vw;
    padding-top:40px;
    padding-bottom: 20px;

}

.articleDouble{
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width:100%;
}

.articleB{
    width:50%;
}

.articleC{
    width:50%;
    background-color: initial;
}

  .thumbnail-button{
    border:solid 2px  #00b4ff;
    width:1vw;
    height:0.3vw;
    margin-left:3px;
    margin-right: 3px;
    border-radius: 0;
    z-index:10;
    }

.clicked{
    background-color: #00b4ff;
}

.thumbnail-btns{
    position:absolute;
    bottom: 10px;
    left:0px;
}

.navbar{
    position: relative;
    display:flex;
    width:70vw;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    /*margin-left: 0.5vw;*/
}

.header{
font-family: 'Open Sans', 'Arial';
margin:0px 0px 5px 0.5vw;
padding:0;
display:inline-block;
}


.thumbnail-img{
   
    max-height:42vh;
    z-index:1;

}

.more{
    display:block;
    width:100%;
    height:100%;
    position: absolute;
    left:0px;
    top:0px;
    background-color: black;
    opacity: 0.5;
}

.more2{
    display:block;
    width:100%;
    height:100%;
    position: absolute;
    left:0px;
    top:0px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.btnMore{
    opacity: 1;
   width:100%;
   padding:12px;
   background-color: #3399ff;
   color:white;
   text-align: center;
}

.noMargin{
    margin:0;
    padding:0;
}
/* Select all elements with class thumbnail, and then select all elements with class info from previously selected elements that are h1 tag */
.thumbnail>.info>div>h1{
    margin:5px 0px 15px 0px;
    padding:0px;
}

.thumbnail>.info>div{
    text-align: left;
}

.arrows{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    z-index: 0;
}

.arrows-article{
    display:none;
}

.arrow{
    margin-left:5px;
    margin-right: 5px;
    opacity: 0;
}

.arrow:hover{
    opacity: 100;
}

#content{

    position:relative;
    width:100%;

}


.logo{
    display:inline-block;
    width:0.6em;
    height: 0.6em;
}

.menu-icon{
    height:1em;
    margin:0 10px 0 10px;
}


.article-first{
    margin:0.5vw 0.5vw 0.5vw 0.5vw;
    }

    .line1{
        display:flex;
        flex-flow: row;
        justify-content: center;
        width:50%;
       /* margin-left:-5.5vw;*/
        padding: 0;
        margin:0;
    }

    .line2{
        display:flex;
        flex-flow: row;
        justify-content: center;
        width:50%;
        margin:0;
        padding: 0;
    }

    .line3{
        display:flex;
        flex-flow: row;
        justify-content: center;
        width:100%;
        margin:0;
        padding: 0;
    }

        .gridLine{
            width:70vw;
            padding-left:15vw;
            display:flex;
            flex-wrap: nowrap;
            flex-flow: row;
            justify-content: flex-start;
            }
            
            article{
                position: relative;
                display:flex;
                /*justify-content:space-between;
                align-items: space-between;*/
                flex-flow: column;
                justify-content: flex-end;
                width: 10.83vw;
               /* height: 10vw;*/
            background-color: #f7f7f7;
            margin:0.5vw;
            padding-bottom: 15px;
            }

            /*treba kom*/
      /*      .featured article>img{
              max-width: 100%;
              height: 10vh;
              width:auto;
              padding: 25px 5px 25px 5px;
              align-self: center;
              justify-self: center;
            }

            .new article>img{
                max-width: 100%;
                height: 20vh;
                width:auto;
                padding: 25px 5px 5px 5px;
                align-self: center;
                justify-self: center;
              }*/
 article>img{
    max-width: 100%;
    max-height: 20vh;
    width:auto;
    padding: 25px 5px 5px 5px;
    align-self: center;
    justify-self: center;
 }

            .textBelow{
                width:100%;
                text-align: center;
                border-top:solid 1px lightgray;
                padding-top: 15px;
                align-self: flex-end;
                float: bottom;
            }
        
            .smallText{
                color:gray;
            }

            .btn{
                display:inline-block;
                background-color: #3399ff;
                padding:10px 30px;
                margin-right:10px;
                color:white;
                text-decoration: none;

                flex-shrink: 0;
            }

            .idk{
                display:flex;
                flex-flow: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                width:100%;
            }

            .idkText{
                margin-left:10px;
                margin-top:10px;
                margin-bottom: 10px;
                font-size: 2em;
            }

/*
.thumbnail-holder::before{
    content: '';
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border: solid 4px white;
    position:absolute;
    right:22vw;
    top:25px;
}

.thumbnail-holder::after{
    content: '';
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border: solid 4px white;
    position:absolute;
    right:14vw;
    bottom:25px;
}*/


.img-div::before{
    content: '';
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border: solid 4px white;
    position:absolute;
    left:-2vw;
    top:1.5vh;
    z-index:0;
}

.img-div::after{
    content: '';
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border: solid 4px white;
    position:absolute;
    right:-1vw;
    bottom:1.5vh;
    z-index:0;
}

.unselectable, img{
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
    -webkit-user-drag: none;
     
}


/* New code down here */


.new{
margin-top:40px;
}

.blogText article{
    background-color: inherit;
    align-self: flex-start;
}

.brands>.line3{
    justify-content: space-between;
}

.brands>.line3>img{
    margin:0.5vw;
}

.nav{
    display:flex;
    flex-flow: row;
    align-self: stretch;
    justify-content: center;
    align-content: center;
}

  .menu-item {
    /* these are the flex items */
    flex: 1;
    display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left:10px;
  margin-right:10px;
  color:#B0B2BB;
  }

  .menu-item:first-child {
    /* these are the flex items */
border-bottom: solid 2px #00b4ff;
padding-top: 2px;
  }

  @media screen and (min-width: 1280px) {
.menu-item:hover{
border-bottom: solid 2px #00b4ff;
}
  }

    .menu-btn{
        position:absolute;
        top:0px;
        left:10px;
        height:100%;
        max-width:40px;
        min-width: 35px;
        width:4vw;
       /* display:flex;*/
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        display: none;
    }

    .btn-part{
background-color: gray;
width:100%;
height:20%;
border-radius: 10px;
    }

.clickMe{
    width:100%;
    height:100%;
    position: absolute;
    left:0px;
    top:0px;
}

#search{
    display:none;
    padding-left:50px;
    padding-right:60px;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:40px;
}

#search>input{
    border-radius: 25px;
    height:80%;
    width:80%;
}

.vertical-center{
    min-height:40px;
}

#preFooter{
   /*/ width:100%;*/
    background-color: #f7f7f7;
    margin-top:80px;
    padding:30px;
    text-align: center;
}

footer>div{
    background-color: #0a0f2e;
    padding:40px;
    display:flex;
    flex-flow: row;
    justify-content: space-evenly;
    border-bottom: solid 1px #6f738e;
}

footer>div>div{
    color:#6f738e;
}

footer>div>div>h2{
    color:white;
    padding-top:0;
    margin-top:0;
}

footer{
    background-color: #0a0f2e;
    padding-bottom: 20px;
}
/*
body{
    overflow-x: hidden;
}*/

footer>div>div>nav{
    display:flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    }

    footer>div>div>nav>a{
text-decoration: none;
color:inherit;
        }

#preFooter>h2{
    padding-bottom:0;
    margin-bottom: 0;
}
#preFooter>p{
    padding-bottom:5px;
    margin-bottom: 0;
    padding-top:5px;
    margin-top: 0;
    color:#B0B2BB;
}

#preFooter{
    padding-bottom: 60px;
}

#email{
height:5vh;
-webkit-appearance: none;
border: solid 1px;
border-color: transparent transparent #B0B2BB transparent;
padding: 0 15px;
margin-right:20px;
display:inline-block;
min-height: 35px;
max-height: 50px;
width:30%;
min-width: 300px;
max-width: 400px;
background-color: inherit;
}

#subscribe{
    height:5vh;
    -webkit-appearance: none;
    border: 1px solid transparent;
    padding: 0 15px;
    display:inline-block;
    background-color: #00b4ff;
    min-height: 35px;
    max-height: 50px;
}

.menu-icon{
    cursor: pointer;
}

.shopNow{
    cursor: pointer;
}

.thumbnail{
    z-index: 100;
}

article{
    cursor: pointer;
}

.navbar>nav>div{
    cursor: pointer;
}

/* New code up here */


@media screen and (max-width: 1279px) {
    /* For tablets: */
 
    .arrows-article{
        display:block;
        justify-self: center;
        align-self: center;
    }

    .article-hide{
        display:none;
    }

    .article-first{
        margin:0.5vw;
        }

        .line1{
            display:flex;
            flex-flow: row;
            justify-content: center;
            width:100%;
        }
    
        .line2{
            display:flex;
            flex-flow: row;
            justify-content: center;
            width:100%;
        }
    
            .gridLine{
                width:70vw;
                padding-left:15vw;
                display:flex;
                flex-wrap: nowrap;
                flex-flow: column;
                justify-content: center;
                }
                
                article{
                    position: relative;
                    display:flex;
                   /* justify-content:center;
                    align-items: center;*/
                    flex-flow: column;
                   
                    width: 30vw;
                   /* height: 10vw;*/
                background-color: #f7f7f7;
                margin:0.5vw;
                padding:25px 5px 15px 5px;
                }

                
                article>img{
                  max-width: 100%;
                  padding-bottom: 25px;
                }

.menu-btn{
    display:flex;
}

.nav{
    display:none;
    flex-flow: column;
    position: fixed;
    top:50px;
    left:5px;
    z-index:10;
}

}

@media only screen and (max-width:620px) {
    /* For phones: */
.thumbnail-button{
    border-radius: 100%;
    width:1vw;
    height:1vw;
}
.info{
   /* display:none;*/
   color:#00b4ff;
   z-index: 100;
   position: absolute;
   top:20px;
   left:5px;
}
.shopNow{
    display:none;
}
    article{
        display:none;
    }

    #icon-menu{
        display:none;
        }
.navbar{
    align-items: center;
    justify-content: center;
}

.arrows{
    display:none;
}

#content{
    display:none;
}

        .thumbnail-holder{
            background-color: #d6ecf6;
            width:100%;
            display:flex;
            height:45vh;
            position:relative;
          }

                .thumbnail{
                    height:100%;
                    width:100%;
                    font-family: 'PT Serif', 'Arial';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left:0;
                   }


                   .img-div{
                    height:100%;
                    position:absolute;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                }

                footer>div{
                    flex-flow: column;
                    align-items: flex-start;
                    display:inline-block;
                    border:0;
                    padding-bottom:0;
                    }

                    footer{
                        display: flex;
                        justify-content: center;
                    }

                    footer>div>div{
                        padding-bottom: 20px;
                        }
                        

                #search{
                    display:none;
                }

                .thumbnail-img{

                  max-width: 50vw;;
                
                }

                .img-div::before{
              display: none;
                }
                
                .img-div::after{
                   display: none;
                }


}

/*everything else - computer*/