body{
    margin:0;
    padding:0;
}


.thumbnail{
    height:100%;
    width:70vw;
    font-family: 'PT Serif', 'Arial';
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:15vw;
   }

   .thumbnail-img{

    position:relative;
    max-height:42vh;
    z-index:1;

}

.shopNow{
    display:inline-block;
    background-color: #3399ff;
    padding:10px 30px;
    color:white;
    text-decoration: none;
}

.img-div{
    height:100%;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.info{
    display:block;
    margin-left:0.5vw;
}

.thumbnail-holder{
  background-color: #d6ecf6;
  width:100%;
  height:45vh;
  position:relative;
}

.vertical-center{
    width:100%;
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.vertical-left{
margin-left:0.5vw;
justify-self: flex-start;
}

.vertical-right{
margin-right:0.5vw;
justify-self: flex-end;
}

.vertical-right>img{
    height:24px;
}

.vertical-right>img:first-child{
  padding-right: 20px;
}

.menu-icon:last-child{
padding-right: 0;
margin-right: 0;
}

.justFlex{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
    width:70vw;
    height:32px;
    padding-left:15vw;
    padding-top:40px;
    padding-bottom: 20px;

}

.articleDouble{
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width:100%;
}

.articleB{
    width:50%;
}

  .thumbnail-button{
    border:solid 2px  #00b4ff;
    width:1vw;
    height:0.3vw;
    margin-left:3px;
    margin-right: 3px;
    border-radius: 0;
    z-index:10;
    }

.clicked{
    background-color: #00b4ff;
}

.thumbnail-btns{
    position:absolute;
    bottom: 10px;
    left:0px;
}

.navbar{
    display:flex;
    width:70vw;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    /*margin-left: 0.5vw;*/
}

.header{
font-family: 'Open Sans', 'Arial';
margin:0px 0px 5px 0.5vw;
padding:0;
display:inline-block;
}


.thumbnail-img{
   
    max-height:42vh;
    z-index:1;

}

.more{
    display:block;
    width:100%;
    height:100%;
    position: absolute;
    left:0px;
    top:0px;
    background-color: black;
    opacity: 0.5;
}

.more2{
    display:block;
    width:100%;
    height:100%;
    position: absolute;
    left:0px;
    top:0px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.btnMore{
    opacity: 1;
   width:100%;
   padding:12px;
   background-color: #3399ff;
   color:white;
   text-align: center;
}

.noMargin{
    margin:0;
    padding:0;
}
/* Select all elements with class thumbnail, and then select all elements with class info from previously selected elements that are h1 tag */
.thumbnail>.info>div>h1{
    margin:5px 0px 15px 0px;
    padding:0px;
}

.thumbnail>.info>div{
    text-align: left;
}

.arrows{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.arrow{
    margin-left:5px;
    margin-right: 5px;
    opacity: 0;
}

.arrow:hover{
    opacity: 100;
}

#content{

    position:relative;
    width:100%;

}


.logo{
    display:inline-block;
    width:0.6em;
    height: 0.6em;
}

.menu-icon{
    height:1em;
    margin:0 10px 0 10px;
}


.article-first{
    margin:0.5vw 0.5vw 0.5vw 0.5vw;
    }

    .line1{
        display:flex;
        flex-flow: row;
        justify-content: center;
        width:50%;
       /* margin-left:-5.5vw;*/
        padding: 0;
        margin:0;
    }

    .line2{
        display:flex;
        flex-flow: row;
        justify-content: center;
        width:50%;
        margin:0;
        padding: 0;
    }

    .line3{
        display:flex;
        flex-flow: row;
        justify-content: center;
        width:100%;
        margin:0;
        padding: 0;
    }

        .gridLine{
            width:70vw;
            padding-left:15vw;
            display:flex;
            flex-wrap: nowrap;
            flex-flow: row;
            justify-content: flex-start;
            }
            
            article{
                position: relative;
                display:flex;
                /*justify-content:space-between;
                align-items: space-between;*/
                flex-flow: column;
                justify-content: flex-end;
                width: 10.83vw;
               /* height: 10vw;*/
            background-color: #f7f7f7;
            margin:0.5vw;
            padding-bottom: 15px;
            }

            /*treba kom*/
      /*      .featured article>img{
              max-width: 100%;
              height: 10vh;
              width:auto;
              padding: 25px 5px 25px 5px;
              align-self: center;
              justify-self: center;
            }

            .new article>img{
                max-width: 100%;
                height: 20vh;
                width:auto;
                padding: 25px 5px 5px 5px;
                align-self: center;
                justify-self: center;
              }*/
 article>img{
    max-width: 100%;
    height: 20vh;
    width:auto;
    padding: 25px 5px 5px 5px;
    align-self: center;
    justify-self: center;
 }

            .textBelow{
                width:100%;
                text-align: center;
                border-top:solid 1px lightgray;
                padding-top: 15px;
                align-self: flex-end;
                float: bottom;
            }
        
            .smallText{
                color:gray;
            }

            .btn{
                display:inline-block;
                background-color: #3399ff;
                padding:10px 30px;
                margin-right:10px;
                color:white;
                text-decoration: none;

                flex-shrink: 0;
            }

            .idk{
                display:flex;
                flex-flow: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                width:100%;
            }

            .idkText{
                margin-left:10px;
                margin-top:10px;
                margin-bottom: 10px;
                font-size: 2em;
            }

/*
.thumbnail-holder::before{
    content: '';
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border: solid 4px white;
    position:absolute;
    right:22vw;
    top:25px;
}

.thumbnail-holder::after{
    content: '';
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border: solid 4px white;
    position:absolute;
    right:14vw;
    bottom:25px;
}*/


.img-div::before{
    content: '';
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border: solid 4px white;
    position:absolute;
    left:-2vw;
    top:1.5vh;
    z-index:0;
}

.img-div::after{
    content: '';
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border: solid 4px white;
    position:absolute;
    right:-1vw;
    bottom:1.5vh;
    z-index:0;
}

.unselectable, img{
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
    -webkit-user-drag: none;
     
}


/* New code down here */

.new{
margin-top:40px;
}

.blogText article{
    background-color: inherit;
    align-self: flex-start;
}

.brands>.line3{
    justify-content: space-between;
}

/* New code up here */


@media screen and (max-width: 1279px) {
    /* For tablets: */
 
    .article-first{
        margin:0.5vw;
        }

        .line1{
            display:flex;
            flex-flow: row;
            justify-content: center;
            width:100%;
        }
    
        .line2{
            display:flex;
            flex-flow: row;
            justify-content: center;
            width:100%;
        }
    
            .gridLine{
                width:70vw;
                padding-left:15vw;
                display:flex;
                flex-wrap: nowrap;
                flex-flow: column;
                justify-content: center;
                }
                
                article{
                    position: relative;
                    display:flex;
                   /* justify-content:center;
                    align-items: center;*/
                    flex-flow: column;
                   
                    width: 30vw;
                   /* height: 10vw;*/
                background-color: #f7f7f7;
                margin:0.5vw;
                padding:25px 5px 15px 5px;
                }

                
                article>img{
                  max-width: 100%;
                  padding-bottom: 25px;
                }
}

@media only screen and (max-width:620px) {
    /* For phones: */
.thumbnail-button{
    border-radius: 100%;
    width:1vw;
    height:1vw;
}
.info{
    display:none;
}
.shopNow{
    display:none;
}
    article{
        display:none;
    }

    

                .thumbnail{
                    height:100%;
                    font-family: 'PT Serif', 'Arial';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                   }

                   .img-div{
                    height:100%;
                    position:absolute;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                }

}

/*everything else - computer*/